<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="margin: 0;padding: 0">
    <div style="box-sizing: content-box;
    width: 300px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 45px;
    border-top: 6px solid #288477;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    text-align: center;">
    <h2>Your Report Card</h2>
    <p>Total Questions : {{total_questions}}</p>
    <p>Attempted : {{attempted}}</p>
    <p>UnAttempted : {{unattempted}}</p>
    <p>Marks Obtained : {{marks_obtained}}</p>
    <button style="background-color: #288477;
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.7% 9%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
    >Download Explanation</button>
    <div>
</body>
</html>